body {
    font-family: "Tangerine", cursive;
    text-align: center;
    background-color: pink;

    animation: gradientAnimation 5s linear infinite;
    background: linear-gradient(to right, #FFB6C1, #FF69B4, #FF1493, #C71585);
    background-size: 400% 100%;
  }
  
h1 {
    font-size: 48px;
    margin-top: 100px;
    text-align: center;
  }

.heart {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10%; */
    animation-name: beat;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


#right, #left {
    width: 200px;
    height: 200px;
    background-color: rgb(182, 0, 0);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#right {
    position: relative;
    left: -50px;
    transform: rotate(-45deg);
}

#right::before {
    content: '';
    width: 200px;
    height: 200px;
    background-color: rgb(182, 0, 0);
    position: absolute;
    left: -105px;
}

#left {
    
    transform: rotate(-135deg);
}

#left::before {
    content: '';
    width: 200px;
    height: 200px;
    background-color:  rgb(182, 0, 0);
    position: absolute;
    left: -105px;
}

.quote {
    font-family: "Arvo", cursive;
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
}

@keyframes beat {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(0.4);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }